<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
 	<listener class-name="com.util.ExtentReportListener"/>
 </listeners>
 
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testAPI.TC_001_Get_All_StudentsTest"/>
      <class name="com.testAPI.TC_002_Get_Student_By_IDTest"/>
      <class name="com.testAPI.TC_003_Add_StudentTest"/>
      <class name="com.testAPI.TC_004_Update_StudentTest"/>
      <class name="com.testAPI.TC_005_Delete_StudentTest"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
